.App {
  text-align: center;
}

/*************** Home Styling ***************/

.Home {
  margin-top: 20px;
  background-image: none;
  animation: fadeIn 2s;
  color: #1ba2f6;
}

.Home-Button {
  margin: 5px;
  animation: fadeIn 3s;
}

/*************** Game Styling ***************/

.Game {
  margin-top: 20px;
}

.Game-Area {
  display: block;
  position: relative;
  border: solid 2px #6f42c1;
  height: 500px;
  width: 600px;
  margin: auto;
  cursor: url('./cursor.cur'), auto;
  background-color: black;
}

.Game-Score {
  color: #3cf281;
}

/*************** Target Styling ***************/

particle {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  background-repeat: no-repeat;
  background-size: contain;
}

.Target {
  position: absolute;
  border-radius: 50%;
  background-color: #3cf281;
  /* background-image: url('https://static.wixstatic.com/media/2cd43b_0bb55106a2784b7bb3a8613152750ccc~mv2.png/v1/fill/w_256,h_256,q_90/2cd43b_0bb55106a2784b7bb3a8613152750ccc~mv2.png'); */
  background-size: 100% 100%;
  animation: fadeIn 2s;
}

/*************** Timer Styling ***************/

.Timer h1 {
  color: #1ba2f6;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

.TargetTracking {
  position: absolute;
  border-radius: 50%;
  background-color: #3cf281;
  background-size: 100% 100%;
}

/*************** Leaderboard Styling ***************/

.Leaderboard {
  margin: 2rem 0;
  font-size: x-large;
}

.Leaderboard-Options {
  margin: 2rem 0;
  display: flex;
  justify-content: space-evenly;
}

.Leaderboard ol {
  list-style-position: inside;
}