.Game {
  margin-top: 20px;
}

.Game-Area {
  display: block;
  position: relative;
  border: solid 2px;
  height: 500px;
  width: 600px;
  margin: auto;
  cursor: url('./cursor.cur'), auto;
  background-color: black;
}