.TargetTracking {
  position: absolute;
  border-radius: 50%;
  background-color: #3cf281;
  background-image: url('https://static.wixstatic.com/media/2cd43b_0bb55106a2784b7bb3a8613152750ccc~mv2.png/v1/fill/w_256,h_256,q_90/2cd43b_0bb55106a2784b7bb3a8613152750ccc~mv2.png');
  background-size: 100% 100%;
}